:root {
    --backgroundImage: url('../pics/golden_heart2.jpg');
}

body {
    background-image: var(--backgroundImage);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

div h1 {
    text-align: center;
    padding: 0%;
    margin-top: 0;
    font-size: xx-large;
}

header {
    min-height: 50px;
}

footer {
    min-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(120, 120, 20, 0.5);
}

#pageMain {
    flex: 1;
    text-align: center;
}

/* Pages */
.pages {
    display: none;
}

#pageHome {
    display: block;
}

/* Product table */
tr {
    padding: 0;
    margin: 0;
    display: block;

}

td {
    padding: 0;
    margin: 0;
}

table {
    margin: auto;
    background-color: rgba(120, 120, 20, 0.3);
    border: 1px solid rgba(120, 120, 20, 0.7);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(241, 241, 241, 0.3);

    border: 1px solid rgba(120, 120, 20, 0.7);
    font-size: x-large;
    color: rgba(50, 50, 20, 1);
}

table div {
    padding: 0;
    margin: 0;
}

.tableCell {
    background-color: rgba(241, 241, 241, 0.6);
    padding: 5px;
    margin: 0;
    border: solid;
    border-color: rgba(120, 120, 20, 1);
    display: inline-block;
}

/* .tableImage, */
.tableTitle,
.tablePrice {
    background-color: rgba(241, 241, 241, 0.6);
    padding-top: 5px;
    padding-bottom: 5px;
}

.tableTitle {
    margin-bottom: 5px;
    word-wrap: none;
    overflow: hidden;
    font-size: medium;
}

.productTableItem {
    width: 110px;
    height: 110px;
    border: solid;
    border-width: 1px;
    border-color: rgba(120, 120, 20, 0.9);
}

/* Social Links */
.pageLinkImage {
    width: 10%;
    max-width: 100px;
    border: #04AA6D;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

#pageContactContainer {
    display: flex;
    flex-direction: row;
}

#image-about {
    background-color: aliceblue;
}

.description-text {
    width: 40%;
    padding: 50px;
    background-color: rgba(241, 241, 241, 0.6);
    border: rgba(241, 241, 241, 1);
    border-radius: 50%;
    border-style: solid;
    margin: auto;
    margin-top: 20px;
    font-family: Arial, Verdana, sans-serif;
    font-size: large;
}

/* Image  in list */
.listSocialItem {
    width: 32px;
    height: 32px;
    padding-right: 10px;
}

#listSocial li div {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

#listSocial li {
    padding: 10px;
    display: inline;
}

#listSocial ul {
    list-style-type: none;
    margin: 0%;
    padding: 10px;
    text-align: center;
}

.normalbold {
    color: white;
    font-weight: bold;
}

#listSocial a {
    text-decoration: none;
    color: antiquewhite;
}

/* Menu */
#mainMenu ul {
    margin: 10px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    background-color: rgba(120, 120, 20, 0.2);
    border: 1px solid rgba(120, 120, 20, 0.6);
    overflow: hidden;
}

#mainMenu li {
    display: inline;
}

#mainMenu li:last-child {
    border-bottom: none;
}

#mainMenu li a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
#mainMenu li a.active {
    color: white;
}

#mainMenu li a:hover:not(.active) {
    background-color: rgba(120, 120, 20, 0.9);
    color: white;
}
